# Round 1

Import the required libraries and modules that you would need.

In [1]:
import pandas as pd
## plotting libraries
from matplotlib import pyplot as plt
## Sklearn libraries
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn import datasets

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

%matplotlib inline

Read that data into Python and call the dataframe churnData.

In [2]:
churn_data = pd.read_csv('DATA_Customer-Churn.csv')

Check the datatypes of all the columns in the data. You will see that the column TotalCharges is object type. Convert this column into numeric type using pd.to_numeric function.

In [3]:
churn_data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [4]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [5]:
churn_data["TotalCharges"] = pd.to_numeric(churn_data["TotalCharges"], errors='coerce')
churn_data["TotalCharges"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7043 entries, 0 to 7042
Series name: TotalCharges
Non-Null Count  Dtype
--------------  -----
7032 non-null   float64
dtypes: float64(1)
memory usage: 55.1 KB

Check for null values in the dataframe. Replace the null values.

In [6]:
pd.isna(churn_data).sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [7]:
total_charges_mean = churn_data["TotalCharges"].mean()
churn_data["TotalCharges"] = churn_data["TotalCharges"].fillna(total_charges_mean)
pd.isna(churn_data).sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
- Split the data into a training set and a test set.
- Scale the features either by using normalizer or a standard scaler.
- (optional)Fit a logistic Regression model on the training data.
- Fit a Knn Classifier(NOT KnnRegressor please!)model on the training data.

In [8]:
churn_data_num = churn_data.select_dtypes(include='number')
churn_data_num

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
0                 0       1           29.85         29.85
1                 0      34           56.95       1889.50
2                 0       2           53.85        108.15
3                 0      45           42.30       1840.75
4                 0       2           70.70        151.65
...             ...     ...             ...           ...
7038              0      24           84.80       1990.50
7039              0      72          103.20       7362.90
7040              0      11           29.60        346.45
7041              1       4           74.40        306.60
7042              0      66          105.65       6844.50

[7043 rows x 4 columns]

Split the data into a training set and a test set.

In [9]:
TT_SPLIT = 0.2     # ratio train/test size
RAND_STATE = 123   # specifies a sampling for repeatable results

In [10]:
y = churn_data['Churn'].replace({'Yes':'1','No':'0'})
X = churn_data_num
y

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: object

In [11]:
y = y.astype(int)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TT_SPLIT, random_state=RAND_STATE)
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)
X_train.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
6924              0       1           69.35         69.35
5249              0      72           67.20       4671.70
5852              1      21           69.10       1474.75
3597              0      25           95.70       2338.35
4147              1      71           24.85       1901.00

Scale the features either by using normalizer or a standard scaler.

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [14]:
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_train_scaled

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges
0         -0.437749 -1.286047        0.155909     -0.983513
1         -0.437749  1.609041        0.084358      1.057616
2          2.284413 -0.470529        0.147589     -0.360222
3         -0.437749 -0.307426        1.032822      0.022782
4          2.284413  1.568265       -1.325026     -0.171182
...             ...       ...             ...           ...
5629      -0.437749 -1.326823       -1.496415     -0.001633
5630      -0.437749  0.875075       -0.043768      0.497656
5631      -0.437749 -0.755961        0.751611     -0.456084
5632       2.284413 -0.144322       -0.965608     -0.559619
5633      -0.437749 -1.204495        0.526975     -0.911223

[5634 rows x 4 columns]

In [15]:
X_test_scaled = scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)
X_test_scaled

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges
0         -0.437749 -0.796737       -1.148645     -0.844765
1         -0.437749  0.100333       -1.376609     -0.660758
2         -0.437749 -0.592857       -1.508063     -0.877118
3         -0.437749  0.426540        0.355586      0.387802
4         -0.437749  0.752747       -1.464800     -0.561570
...             ...       ...             ...           ...
1404      -0.437749 -1.286047        0.415489     -0.980054
1405      -0.437749 -1.286047       -1.509727     -1.005710
1406      -0.437749 -1.082168        0.688380     -0.797200
1407      -0.437749  1.364385       -0.333299      0.596512
1408      -0.437749  1.609041       -1.483104     -0.366387

[1409 rows x 4 columns]

Fit a Knn Classifier(NOT KnnRegressor please!)model on the training data.

In [22]:
def evaluator_kn_classifier (n):
    model = KNeighborsClassifier(n_neighbors=n,weights='uniform') # declare we're using knn classification model
    model.fit(X_train_scaled, y_train) # train model
    y_pred_test = model.predict(X_test_scaled) # predict test
    y_pred_train=model.predict(X_train_scaled) # predict train (for sanity checks)
        
    performance_df = pd.DataFrame({'Error_metric': ['Accuracy','Precision','Recall'],
                            'Train': [accuracy_score(y_train, y_pred_train),
                                         precision_score(y_train, y_pred_train),
                                         recall_score(y_train, y_pred_train)],
                            'Test': [accuracy_score(y_test, y_pred_test),
                                        precision_score(y_test, y_pred_test),
                                        recall_score(y_test, y_pred_test)]})
        
    pd.options.display.float_format = '{:.2f}'.format
        
    df_train = pd.DataFrame({'Real': y_train, 'Predicted': y_pred_train})
    df_test  = pd.DataFrame({'Real': y_test,  'Predicted': y_pred_test})
        
    return performance_df

In [30]:
evaluator_kn_classifier(15)

  Error_metric  Train  Test
0     Accuracy   0.81  0.78
1    Precision   0.69  0.64
2       Recall   0.52  0.47

In [42]:
for i in range(1,16):
    print("Error metrics for Knn model with n = ", i)
    display(evaluator_kn_classifier(i))

Error metrics for Knn model with n =  1

  Error_metric  Train  Test
0     Accuracy   0.99  0.74
1    Precision   0.98  0.54
2       Recall   0.98  0.51

Error metrics for Knn model with n =  2

  Error_metric  Train  Test
0     Accuracy   0.86  0.76
1    Precision   0.99  0.66
2       Recall   0.49  0.32

Error metrics for Knn model with n =  3

  Error_metric  Train  Test
0     Accuracy   0.86  0.76
1    Precision   0.77  0.59
2       Recall   0.67  0.49

Error metrics for Knn model with n =  4

  Error_metric  Train  Test
0     Accuracy   0.84  0.77
1    Precision   0.83  0.66
2       Recall   0.49  0.40

Error metrics for Knn model with n =  5

  Error_metric  Train  Test
0     Accuracy   0.84  0.78
1    Precision   0.73  0.62
2       Recall   0.59  0.52

Error metrics for Knn model with n =  6

  Error_metric  Train  Test
0     Accuracy   0.83  0.78
1    Precision   0.77  0.65
2       Recall   0.49  0.44

Error metrics for Knn model with n =  7

  Error_metric  Train  Test
0     Accuracy   0.83  0.78
1    Precision   0.72  0.62
2       Recall   0.56  0.50

Error metrics for Knn model with n =  8

  Error_metric  Train  Test
0     Accuracy   0.82  0.78
1    Precision   0.75  0.67
2       Recall   0.48  0.43

Error metrics for Knn model with n =  9

  Error_metric  Train  Test
0     Accuracy   0.82  0.78
1    Precision   0.71  0.63
2       Recall   0.55  0.49

Error metrics for Knn model with n =  10

  Error_metric  Train  Test
0     Accuracy   0.82  0.79
1    Precision   0.74  0.69
2       Recall   0.49  0.44

Error metrics for Knn model with n =  11

  Error_metric  Train  Test
0     Accuracy   0.82  0.78
1    Precision   0.70  0.65
2       Recall   0.53  0.49

Error metrics for Knn model with n =  12

  Error_metric  Train  Test
0     Accuracy   0.81  0.78
1    Precision   0.72  0.68
2       Recall   0.47  0.44

Error metrics for Knn model with n =  13

  Error_metric  Train  Test
0     Accuracy   0.81  0.78
1    Precision   0.69  0.64
2       Recall   0.52  0.48

Error metrics for Knn model with n =  14

  Error_metric  Train  Test
0     Accuracy   0.81  0.78
1    Precision   0.71  0.66
2       Recall   0.48  0.43

Error metrics for Knn model with n =  15

  Error_metric  Train  Test
0     Accuracy   0.81  0.78
1    Precision   0.69  0.64
2       Recall   0.52  0.47